@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');



body {
    background-color:rgb(133, 132, 116);
    text-align: center;
    transform: scale(1); /* Standard Property */
    transform-origin: 0 0;  /* Standard Property */
}

#page-container {
  position: relative;
  transform: scale(1); /* Standard Property */
  transform-origin: 0 0;  /* Standard Property */
  min-height: 100vh;
  padding-bottom: 75px;
  padding-top: 20px;
}

.title {
    color: black;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
  }
  .title h1, h3
  {
     font-size: xx-large;
  }


.glyphicon { margin-right:5px; }
.thumbnail
{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}




.site-footer{
    background-color:#26272b;
    padding:24px 0 25px;
    font-size:15px;
    line-height: 2.5rem;
    color:#737373;
    position: absolute;
    bottom:0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

